@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap");

body {
  background-color: #000036;
}
#profilecolorbar {
  background-color: #de3333;
  height: 196px;
  width: 100vw;
  margin-bottom: -150px;
}

#profilecontainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 37%;
}
#profilecircle {
  width: 285px;
  height: 285px;
  border-radius: 50%;
  background-image: url("https://i.pinimg.com/474x/a6/2f/ff/a62fff451fee32c067bf1b9118fbb18e.jpg");
  background-size: cover;
  background-color: teal;
}

#profilename {
  height: 42px;
  color: #dadada;
  font-family: "Roboto", sans-serif;
  /* font-family: "Open Sans", sans-serif; */
  font-size: 1.7rem;
  font-style: normal;
  line-height: 144.5%;
  /* or 40px */
  text-align: center;
  letter-spacing: 0.05em;
  margin-top: 32px;
}

#profilecity {
  height: 19px;
  color: #575757;
  font-family: "Roboto", sans-serif;
  /* font-family: "Open Sans", sans-serif; */
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

#profilefollowers {
  font-family: "Roboto", sans-serif;
  /* font-family: "Open Sans", sans-serif; */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.1em;
  text-decoration-line: underline;
  color: #dadada;
  margin-bottom: 42px;
}

#followingcontainer {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

#profiledm {
  width: 35px;
  height: 29px;
  background-image: url("../Images/Profile/dm.png");
  background-size: cover;
}

#profilechat {
  width: 36px;
  height: 36px;
  border-radius: 50px;
  border: 0.3px white solid;
  background-image: url("../Images/Profile/kabab.png");
  background-size: cover;
}

#following {
  width: 340px;
  height: 58px;
  background-color: #0f3460;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  margin: 0px 30px;
}

#followingtext {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  vertical-align: bottom;
  line-height: 58px;
}

#profilebio {
  color: #dadada;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  padding: 0px 55px;
  text-align: center;
  margin-bottom: 52px;
}

.biolinks {
  display: flex;
  justify-content: space-around;
  margin-bottom: 118px;
}

#soundcloud {
  width: 46px;
  height: 46px;
  margin: 0px 30px;
  background-image: url("../Images/Profile/soundcloud.png");
  background-size: cover;
}
#spotify {
  width: 46px;
  height: 46px;
  margin: 0px 30px;
  background-image: url("../Images/Profile/spotify.png");
  background-size: cover;
}
#instagram {
  width: 46px;
  height: 46px;
  margin: 0px 30px;
  background-image: url("../Images/Profile/soundcloud.png");
  background-size: cover;
}
#youtube {
  width: 46px;
  height: 46px;
  margin: 0px 30px;
  background-image: url("../Images/Profile/Union.png");
  background-size: cover;
}

.profilemediatext {
  color: #dadada;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.05em;
}
